.carousel-container {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.left-angle {
    position: absolute;
    left: 0;
    z-index: 5;
}

.right-angle {
    position: absolute;
    right: 0;
    z-index: 5;
}

.slides {
    flex-grow: 1;
    padding: 1rem;
    position: relative;
    display: flex;
    align-items: center;
}

.slide {
    box-shadow: 2px 2px 10px 2px rgba(133,117,116,1);
    background-color: rgb(241, 238, 238);
    position: absolute;
    transition: transform 0.5s ease-in;
}


.slide--left {
    @extend .slide;
    width: 9.6rem;
    height: 11.2rem;
    left: -7.6rem;
}

.slide--center {
    @extend .slide;
    width: 12rem;
    height: 14rem;
    left: 3.2rem;
}

.slide--right {
    @extend .slide;
    width: 9.6rem;
    height: 11.2rem;
    right: -7.6rem;
}


.slide--active {

}

.indicator-track {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.indicator {
    height: 0.75rem;
    width: 0.75rem;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    margin-right: 0.25rem;
}

.indicator--active {
    @extend .indicator;
    background-color: rgba(0, 0, 0, 0.75);
}