.menu-wrapper {
    position: fixed;
    width: 0;
    height: 100vh;
    top: 0;
    left: 0;
    transition: background-color 0.5s ease-out;
}

.menu-wrapper--open {
    width: 100vw;
    background-color: rgba(76, 71, 119, 0.7);
}

.menu {
    position: fixed;
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 2;
    background: linear-gradient(to right, rgb(238, 101, 136), rgb(246, 149, 96));
    display: flex;
    flex-direction: column;
    transition: width 0.5s ease-out;
}

.menu-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.menu-links--open {
    opacity: 1;
}

.menu-link {
    padding: 1rem 0;
    a {
        color: rgba(255, 255, 255, 0.75);
        text-decoration: none;
    }
}

.menu-link:not(:last-of-type) {
    border-bottom: 1px solid white;
}

.menu--open {
    width: 20rem;
}

.menu-close-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    padding: 1rem;
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.menu-close-wrapper--open {
    opacity: 1;
}

.close-button {
    background-color: transparent;
    color: white;
    border: none;

}

.menu-link-wrapper {
    padding: 2rem;
    color: white;
}