.card-wrapper {
	min-height: 200px;
	width: 100%;
	background: linear-gradient(to right, rgba(238, 101, 136, 0.95), rgba(246, 149, 96, 0.95));
}

.card-wrapper--rounded {
	@extend .card-wrapper;
	border-radius: 0.4rem; 
}