.nav-bar-wrapper {
    height: 2.75rem;
    border-radius: 0.25rem 0.25rem 0 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 1rem;
}

.hamburger {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.hamburger svg {
    fill: rgba(101, 101, 101, 0.3);
}